.navbar {
    background-color: none;
}
.navbar a {

    display: flex;
    text-decoration: underline;
    font-family: open-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 10vmin auto;
    
}

.navbar a:hover {
    text-decoration: underline line-through;
}

.bigtex {
    font-family: open-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    justify-content: center;
    border: 1px solid green;

    
}

