.navbar {
    background-color: none;
}
.navbar a {

    display: flex;
    text-decoration: none;
    font-family: open-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 5vmin auto;
    font-size: 1.0em;
    
}

.navbar a:hover {
    
    text-decoration: line-through;
}

.quote span {

    display: inline-flex;
    font-family: open-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 2em;
    margin: 20vmin 30%;
    justify-content: center;
    align-items: center;
    line-height: 1.5em;
}